@using crudelicious.Models
@model Dish

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body
    class="p-3 mb-2 bg-secondary text-white nes-text text-left container d-flex justify-content-center align-items-center">
    <div class="nes-container is-dark">
        <div style=" padding: 1rem;" class="nes-field is-inline">
            <h1 style="color: white;">Add Dish</h1>
            <form asp-action="/updatedish" method="post">

                <div class="form-group">

                    <label asp-for="chef"></label>
                    <input asp-for="chef" name="chef" type="text">
                    <span asp-validation-for="chef" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="name">Name of the Dish:</label>
                    <input asp-for="name">
                    <span asp-validation-for="name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="calories"># of Calories:</label>
                    <input asp-for="calories">
                    <span asp-validation-for="calories" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="tastiness">Tastiness</label>
                    <select asp-for="tastiness">
                        <option hidden selected disabled>Level</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <span asp-validation-for="tastiness" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="description">Description</label>
                    <textarea asp-for="description" cols="30" rows="3"></textarea>
                </div>
                <div class="d-flex justify-content-between">
                    <input type="submit" value="Update" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</body>
